*{
	margin:	0px;
	padding: 0px;
}
#wrapper{
	width: 80%;
	margin: 0px auto;
	border: 1px solid grey;
	margin-top: 100px;
	padding: 40px;
}
h1{
	margin:20px;
}
.error{
	padding: 7px 15px;
	color: red;
}
.well{
	display: inline-block;
	vertical-align: top;
	margin-left: 1%
}
#well1{
	width: 58%;
}
#well2{
	width: 38%;
}